* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*The boxes on this webpage are border boxes with no padding  */
}

body {
    background-color: #d9dcd6;
    /* background color of the body of the webpage */
}

.header {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(rgb(112, 112, 112), black);
    color: #ffffff;
    margin-bottom: 10px;
    /* the font, color, and space around the header*/
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    /* Th header padding, margin, float, font, and font size are controlled here */
}

.header div ul {
    list-style-type: none;
    /*the list style type for the header is not specified */
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    /*  */
}

a {
    color: #ffffff;
    text-decoration: none;
    /* This controls the appearance of the links at the top of the webpage, it makes them white */
}

p {
    font-size: 16px;
    /* This controls the size of text inside paragraphs*/
}

.float-left {
    float: left;
    margin-right: 25px;
    /* Because the images for search engine optimization and social media marketing have float left, the image floats to the left of the box*/

}

.float-right {
    float: right;
    margin-left: 25px;
    /* The online reputation image floats to the right of the box it sits in */
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    /* This keeps the 3 content boxes on the left side of the screen and only taking up 75% of the screen. It also keeps it 20 pixels off of the left side of the screen */
}

.About-Me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    padding: 50px;
    height: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(90, 90, 90);
    color: #fdfdfd;
    /* This controls the box that contains the search engine optimization text image and header. Specifically the fonts, height, background color, margins, and text color */
}

.Work {
    margin-bottom: 20px;
    padding: 50px;
    height: 750px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(184, 184, 184);
    color: #000000;
    /* This controls the box that contains the online reputation management text image and header. Specifically the fonts, height, background color, margins, and text color */
}

.Work p
{
margin-bottom: 20px;

}

.Contact {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(73, 73, 73);
    color: #ffffff;
    /* This controls the box that contains the social media marketing text image and header. Specifically the fonts, height, background color, margins, and text color */
}

.About-Me img {
    max-height: 200px;
    margin: 20px;
    border: 10px;
    border-color: #d9dcd6;
    border-style: solid;
    /* The search engine optimization image height settings */
}

#prework {
    height:auto;
    border: 8px;
    width: 800px;
    border-color: #000000;
    border-style: solid;
}

#horiseon {
    height:auto;
    border: 8px;
    width: 800px;
    border-color: #000000;
    border-style: solid;
}

.Portrait img {
    max-height: 200px;
    max-width: 30%;
    /* The online reputation management image height settings */
}

.Work img {
    max-height: 600px;
    border-color: #000000;
    border-style: solid;
    border: 10px;
    /* The social media marketing image height settings */
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
    /* Margin and font size for the search engine optimization box */
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
    /* Margin and font size for the online reputation management box */
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
    /* Margin and font size for the social media marketing box */
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    /* Padding, fonts, and text alignment for the footer section */
}

.footer h2 {
    font-size: 20px;
    /* This is footer heading font size */
}
